<%- include("partials/header") -%>

<span class="letters">Welcome <%= name %></span>
          </span>
        </h1>

<h3>What do you wanna do today? Add Products, Update state, Create items</h3>
  </div>

  <div id="container-head">
  <!-- Create item -->
    <div class="">
        <form class="dropdown-menu p-4" action = "/Manufacturer/createItem" method = 'post'>
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Product name</label>
            <input type="text" class="form-control" id="exampleDropdownFormEmail2" placeholder="abc" name = "itemName">
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormPassword2" class="form-label">Product price</label>
            <input type="text" class="form-control" id="exampleDropdownFormPassword2" placeholder="$100" name = "itemPrice">
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Manufacturer's Name</label>
            <input type="text" class="form-control" id="exampleDropdownFormEmail2" placeholder="abc" name = "nameOfManufacturer">
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Location</label>
            <input type="text" class="form-control" id="exampleDropdownFormEmail2" placeholder="abc" name = "locationOfManufacture">
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Date</label>
            <input type="text" class="form-control" id="exampleDropdownFormEmail2" placeholder="abc" name = "dateOfManufacture">
          </div>
          
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
      </div>

<%- include("partials/footer") -%>