body{
    background: linear-gradient(to right,#F2D7D9,#D3CEDF);
    font-family: 'Montserrat', sans-serif;
}

p{
    text-align: center;
    padding: 10px;
    color: rgb(29, 179, 29);
}

.navbar{
    background-color: #4d5e6e;
    color: aliceblue;
    
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    list-style-type: none;
    float: left;
    margin: 5px 20px;
}

.navbar li a{
    padding: 3px 3px;
    
    text-decoration: none;
    color: aliceblue;
}

.navbar li a:hover{
    color: burlywood
}
.search{
    color: aliceblue;
    float: right;
    padding: 12px 75px;
}

.navbar input{
    border: 3px solid blueviolet;
    border-radius: 15px;
    padding: 3px 17px;
    width: 140px;
}

#container-head{
    display: flex;
    flex-direction: column;
}

.dropdown {
    padding: 20px 200px;
    float: left;
    margin: auto;
    /* align-items: center; */
    

  }

.btn{
    width: 500px;
    margin: auto;
    background-color: #748DA6;
}
.btn:hover{
    background-color: #9CB4CC;
}

.btn:active{
    background-color: #9CB4CC;
}


#starting{
    display: inline-block;
    /* width: 80%; */
    margin: auto;
    padding: 10px 480px;
    clear: both;
    text-align: center;
}

/* styling for h1  */
.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    /* padding-right: 0.05em; */
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }