
body{
    background: linear-gradient(to left,#F2D7D9,#D3CEDF);
}

img{
    width: 500px;
    height: 500px;
    position: absolute;
    right: 30px;
    top: 70px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
   
}

p{
    font-size: 1.5rem;
    
}

.start{
    margin: 50px;
    margin-top: 70px;
}

button{
    color: black;
    margin: 20px;
}